.DS_Store

# Temp files for coding
*.h264
*.mp4

# Temp dir for installing dependencies
vendors/
.penv/

# python, node
*.pyc
node_modules/
schema_python/
schema_node/
dist/
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
build/

# vim editor
*.sw[pon]

